#datas {
    
    border-collapse: collapse;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
  }
  
  #datas th {
    border: 1px solid #ddd;
    padding: 8px;
    font-weight: 900;
  }

  #datas td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #datas tr:nth-child(odd){background-color: rgb(177, 196, 233);}
  

  
  #datas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(70, 117, 204);
    color: white;
  }

  @media screen and (min-width: 51px) and (max-width: 650px ) {
    /* smaller screen */
    main {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    table {
      display:block;
    }
  
    th, td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  
    th {
      text-align: left;
    }
  
    .table-header {
      display: none;
    }
  
    .dates {
      display: none;
    }
  
  }