main{
    margin-left: 50px;
    margin-right: 60px;
    margin-top: 27px;
    
}

em {
    color: red;
}

.timmer {
    display: none;
}



@media screen and (min-width: 51px) and (max-width: 650px) {
    main {
        display: flexbox;
        flex-direction: column;
        margin: 20px;
    }

    .offerings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid black;
    }

    .timmer {
        display: inline;
        color: red;
    }

}



