main {
    margin-left: 50px;
    margin-right: 60px;
    margin-top: 27px;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.offerings {
    border: 2px solid black;
    padding: 10px;
}

.offerings:hover {
    box-shadow: 2px 2px 2px 2px black;
}

button:hover {
    background-color: gray;
}
a:hover {
    color: black;
}

em {
    color: red;
}

.timmer {
    display: inline;
    color: red;
}



@media screen and (min-width: 51px) and (max-width: 650px) {
    section {
        display: flexbox;
        flex-direction: column;
        margin: 20px;
    }

    main {
        margin-left: 50px;
        margin-right: 60px;
        margin-top: 27px;
    }

    .offerings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid black;
    }

    .timmer {
        display: none;
        
    }

}



